In [1]:
import pandas as pd

filename = 'covid_file/us-counties.csv'
df = pd.read_csv(filename)

In [4]:
df.describe()

               fips         cases        deaths
count  32323.000000  32814.000000  32814.000000
mean   29031.051821     64.935790      1.495155
std    15535.845873    855.144579     32.048510
min     1001.000000      0.000000      0.000000
25%    17050.000000      1.000000      0.000000
50%    28083.000000      4.000000      0.000000
75%    42063.000000     14.000000      0.000000
max    56043.000000  64274.000000   3221.000000